div {
    text-align: center;
    color:#003300 
}
img {
    text-align: center;
    border: 15px solid black
}

body {
    background-image: url(https://thumbs.gfycat.com/FlimsyGoodnaturedEstuarinecrocodile-size_restricted.gif);
}

.Font-Color {
    color:rgb(255, 255, 255)
}